<div
  id="{{elementId}}-for-{{containerId}}"
  class="part {{part}}"
>
  <div
    data-selectable
    data-value="[[item.value]]"
    data-group="{{if (eq part 'optgroup') "[[item.group]]" ""}}"
    class="selectize item-template {{part}} needsclick"
  >
    {{yield}}
    {{#if inlineContent}}
      <span>{{inlineContent}}</span>
    {{/if}}
  </div>
</div>
