<span class="ui-selectize{{if fingerFriendly ' finger-friendly'}}{{_skin}}{{_readonly}}">
  <select
    id="select-{{elementId}}"
    class="{{type}}-input {{touchDevice}}{{if selected 'selected' 'not-selected'}}{{_mood}}{{_size}}"
    name="{{name}}"
    autocomplete={{autocomplete}}
    autofocus={{autofocus}}
    disabled={{disabled}}
    readonly={{readonly}}
  >
    {{yield}}
  </select>
</span>
