<h3 class='section-heading'>Actions</h3>
<div class='col-xs-12'>
  <p>
    The components in this addon leverage Ember {{ui-label 'action'}} helper to create "closure actions" but will fall back to the old actions (aka, <code>sendAction()</code>) when the container doesn't explicitly bind to a given action type.
  </p>
  <p>
    The underlying Selectize control has a lot of events (<a href="https://github.com/selectize/selectize.js/blob/master/docs/api.md#methods_events">see here</a>) but we've reorganised it to make it a little more compact. All events are listed below sends back a single object hash as its only parameter but the properties defined on that hash will be dependant on the type of message (open a developer console to see details when using interactive demo). That said, all events will have:
    <ul>
      <li>{{ui-pill 'code'}} - a dasherized string representing the</li>
      <li>{{ui-pill 'context'}} - a object reference back to the Ember component</li>
    </ul>
  </p>
</div>

The events supported are:

<ul>
  <li>
    <b>onLoad</b> fired on successful load of all options (the last stage of initialization)
  </li>
  <li>
    <b>onChange</b> fired whenever the values/value properties are changed by selectize; as has been seen in previous examples, this event is also fully compliant with the {{ui-label 'mut'}} helper but if you do bind to a method you'll get more information back than just the value.
  </li>
  <li><b>onError</b> for when bad shit happens</li>
  <li>
    <b>onDropdown</b> - open and close events on the dropdown
  </li>
  <li>
    <b>onOption</b> - adding or removal of options; note that this event doesn't fire on initial load (by design) but you can pick up the options on initial load from the onLoad event if you're interested.
  </li>
  <li>
    <b>onType</b> - the accumalation of characters that have been typed, fired whenever user types
  </li>
</ul>


<h4>Interactive Example</h4>
<row>
  <div class='col-xs-6 col-md-2'>
    {{#if isSelectInput}}
      {{select-input
        options=emberData
        optgroups=groups
        onLoad=(action 'onLoad')
        onChange=(action 'onChange')
        onDropdown=(action 'onDropdown')
        onOption=(action 'onOption')
        onType=(action 'onType')
        value=selectValue
      }}
    {{else}}
      {{tags-input
        options=emberData
        optgroups=groups
        onLoad=(action 'onLoad')
        onChange=(action 'onChange')
        onDropdown=(action 'onDropdown')
        onOption=(action 'onOption')
        onType=(action 'onType')
        values=tagsValue
      }}
    {{/if}}
    <p>
      <br>
      Container value: {{#if isSelectInput}}{{selectValue}}{{else}}{{tagsValue}}{{/if}}
    </p>
    <p>
      <br>
      {{ui-toggle-button
        on='switch to "tags" input'
        off='switch to "select" input'
        value=isSelectInput
        onToggle=(mut isSelectInput)
      }}
    </p>

  </div>
  <div class="col-xs-6 col-md-10">
    {{#if isSelectInput}}

<pre><code class='handlebars'>\{{select-input
  options=emberData
  optgroups=groups
  onLoad='onLoad'
  onChange='onChange'
  onDropdown='onDropdown'
  onOption='onOption'
  onItem='onItem'
  onType='onType'
}}</code></pre>

    {{else}}

<pre><code class='handlebars'>\{{tags-input
  options=emberData
  optgroups=groups
  onLoad='onLoad'
  onChange='onChange'
  onDropdown='onDropdown'
  onOption='onOption'
  onItem='onItem'
  onType='onType'
}}</code></pre>

    {{/if}}

  </div>
</row>
