<h3 class='section-heading'>Actions</h3>
<p class="downer">
  You can bind to any of the following events. For more on API for these various events look at the <a href="https://github.com/brianreavis/selectize.js/blob/master/docs/events.md">Selectize Events</a> documentation.
  <ul>
    <li>
      <b>onLoad</b> -
      { count, items }
    </li>
    <li>
      <b>onChange</b> -
      { value, context, component }
    </li>
    <li>
      <b>onDropdown</b> -
      { action: |open,close|, value, component, $dropdown }
      <br/>
      <note>
        <b>Note:</b> this incorporates both the <prop>onDropdownOpen</prop> and the <prop>onDropdownClose</prop> events from selectize
      </note>

    </li>
    <li>
      <b>onOption</b> - { action: |add,remove|, option, context, component }
      <br/>
      <note>
        <b>Note:</b> this incorporates both the <prop>onOptionAdd</prop> and <prop>onOptionRemove</prop> selectize events
      </note>
    </li>
    <li>
      <b>onItem</b> - { action: |add,remove|, item, value, component }
      <br/>
      <note>
        <b>Note:</b> this incorporates both the <prop>onItemAdd</prop> and <prop>onItemRemove</prop> selectize events
      </note>
    </li>
    <li>
      <b>onType</b> - { text, component }
      <note>
        <b>Note:</b> the <prop>text</prop> property is the accumalation of characters that have been typed not just the last character
      </note>

    </li>
  </ul>
</p>
<h4>Interactive Example</h4>
<row class='left'>
  {{#if isSelectInput}}
    <widget class='left'>
      {{ui-select-input
        options=emberData
        optgroups=groups
        onLoad='onLoad'
        onChange='onChange'
        onDropdown='onDropdown'
        onOption='onOption'
        onItem='onItem'
        onType='onType'
      }}
    </widget>
    <code>
      {{display-component componentName='ui-select-input'
        options=':emberData'
        optgroups=':groups'
        onLoad='onLoad'
        onChange='onChange'
        onDropdown='onDropdown'
        onOption='onOption'
        onItem='onItem'
        onType='onType'
      }}
    </code>
  {{else}}
    <widget class='left'>
      {{ui-tags-input
        options=emberData
        optgroups=groups
        onLoad='onLoad'
        onChange='onChange'
        onDropdown='onDropdown'
        onOption='onOption'
        onItem='onItem'
        onType='onType'
      }}
    </widget>
    <code>
      {{display-component componentName='ui-tags-input'
        options=':emberData'
        optgroups=':groups'
        onLoad='onLoad'
        onChange='onChange'
        onDropdown='onDropdown'
        onOption='onOption'
        onItem='onItem'
        onType='onType'
      }}
    </code>
  {{/if}}
  <description>
    {{#if isSelectInput}}<h4>Using a Select Input</h4>{{else}}<h4>Using a Tags Input</h4>{{/if}}
    {{ui-toggle-button on='switch to "tags" input' off='switch to "select" input' value=isSelectInput}}
  </description>
</row>