<div class="container">
	<h1>ui-selectize</h1>
	<h2>The <a href="http://brianreavis.github.io/selectize.js/" target="_new">selectize</a> select/tag form-control wrapped in Ember-CLI love</h2>

	<h3>Description</h3>
	<p>
		This control, developed by Brian Reavis has become very popular due to its small footprint, skinnable interface and programatic API (including a plugin API). Most of the documentation you'll want to use 
		can be found on his site, but here are few important links:
	</p>

	<ul>
		<li><a href="http://brianreavis.github.io/selectize.js/" target="selectize-demo">Functional Overview</a> and Demos (including plugins)</a></li>
		<li><a href="https://github.com/brianreavis/selectize.js/blob/master/docs/usage.md" target="selectize-api">Usage</a></li>
		<li><a href="https://github.com/brianreavis/selectize.js/blob/master/docs/api.md" target="selectize-api">API</a></li>
		<li><a href="https://github.com/brianreavis/selectize.js/blob/master/docs/events.md" target="selectize-events">Event Model</a></li>
		<li><a href="https://github.com/brianreavis/selectize.js" target="selectize-github">Github</a></li>
	</ul>

	<h4>This Addon</h4>
	<p>
		The goal is -- at least 99% of the time -- to provide easy programmatic availability to the existing control and <i>not</i> to extend its functionality. So for that reason the original documentation
		should serve as a good guide in most cases. 	
	</p>
	
	<h4>Overview</h4>
	<p>
		This addon serves two principle use-cases which you'll see demonstrated below: 	
	</p>
	
	<div class="row">
		<div class="col-xs-6">
			<h5 class="text-center">Selecting</h5>
		</div>
		<div class="col-xs-6">
			<h5 class="text-center">Tagging</h5>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-6">
			{{ui-selectize options=demoChoices value=mySelection maxItems=1}}
		</div>
		<div class="col-xs-6">
			{{ui-selectize options=demoChoices placeholder="Choose tags" value=myTags}}
		</div>
	</div>
	<div class="row">
		<div class="col-xs-6 text-center text-muted">
			value: {{mySelection}}
		</div>
		<div class="col-xs-6 text-center text-muted">
			value: {{myTags}}
		</div>
	</div>
	<div class="row">
		<div class="col-xs-6 text-center text-muted">
			<code>\{{ui-selectize options=demoChoices maxItems=1}}</code>
		</div>
		<div class="col-xs-6 text-center text-muted">
			<code>\{{ui-selectize options=demoChoices placeholder="Choose tags"}}</code>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-6 text-center text-muted">
			Presents user with choices with the aim for them to pick one value from the list. 
		</div>
		<div class="col-xs-6 text-center text-muted">
			Allows user to choose any number of "tags" where the value of the bound variable is an array of choices.
		</div>
	</div>
	
	<h4>Exposed Events</h4>
	<p>
		Rather than tapping into the Selectize events directly, events are made available as Ember actions. Action names are the same as the event names put out by Selectize. 
		The one exception is "score(search)" where the function be directly bound to.
	</p>
	<p>
		Events include:
	</p>
	<div class="col-xs-6">
		<ul>
			<li>onInitialize</li>
			<li>onChange</li>
			<li>onOptionAdd</li>
			<li>onOptionRemove</li>
		</ul>		
	</div>
	<div class="col-xs-6">
		<ul>
			<li>onDropdownOpen</li>
			<li>onDropdownClose</li>
			<li>onItemAdd</li>
			<li>onItemRemove</li>
		</ul>		
	</div>
	<h4>Components</h4>
	<p>
		The primary component is <code>ui-selectize</code> which mimics the jQuery defaults and API as much as possible. For convenience purposes, however, two additional componenents are made available to enhance 
		semantic clarity in your code and arrive at some better default values for "selects" versus "tags":
	</p>
	<ul>
		<li><code>ui-tags-input</code> - sets *hideSelected* to false so that chosen tags are no longer available and the "remove_button" plugin included too</li>
		<li><code>ui-select-input</code> - sets <em>maxItems</em> to <strong>1</strong> (required for selects)</li>
	</ul>
	<p>
		In all other ways all three components are the same and in all three you are free to use any of the bindings to change behaviour.
	</p>
	
	{{#if isolate}}
		Isolation mode, no tests shown
	{{else}}

	<h3>Tests / Examples</h3>


	<h4>Basics</h4>
	<div id="ui-number-array-input" class="container">
		<div class="row">
			<div class="col-xs-5  col-md-3">
				{{ui-selectize placeholder="placeholder" options='foo,bar,baz'}}
			</div>
			<div class="col-xs-7 col-md-9">
				Tags with placeholder and static options<br/>
				<code>
	\{{ui-selectize placeholder='placeholder' options='foo,bar,baz'}}
				</code>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-5  col-md-3">
				{{ui-selectize hideSelected=true placeholder="placeholder" options='foo,bar,baz'}}
			</div>
			<div class="col-xs-7 col-md-9">
				Tags where selected are hidden<br/>
				<code>
	\{{ui-selectize hideSelected=true placeholder='placeholder' options='foo,bar,baz'}}
				</code>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-5  col-md-3">
				{{ui-selectize placeholder="placeholder" options='foo,bar,baz' maxItems=1}}
			</div>
			<div class="col-xs-7 col-md-9">
				Select with placeholder and static options<br/>
				<code>
	\{{ui-selectize  maxItems=1 placeholder='placeholder' options='foo,bar,baz'}}
				</code>
			</div>
		</div>
	</div>


	<h4>Select and Tags sub-components</h4>
	<div id="ui-number-array-input" class="container">
		<div class="row">
			<div class="col-xs-5  col-md-3">
				{{ui-tags-input options='foo,bar,baz'}}
			</div>
			<div class="col-xs-7 col-md-9">
				Default Tags component<br/>
				<code>
	\{{ui-tags-input options='foo,bar,baz'}}
				</code>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-5  col-md-3">
				{{ui-select-input options='foo,bar,baz'}}
			</div>
			<div class="col-xs-7 col-md-9">
				Default Select component<br/>
				<code>
	\{{ui-select-input options='foo,bar,baz'}}
				</code>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-5  col-md-3">
				{{ui-tags-input options='foo,bar,baz' openOnFocus=false}}
			</div>
			<div class="col-xs-7 col-md-9">
				Tags w/o open-on-focus<br/>
				<code>
	\{{ui-tags-input options='foo,bar,baz' openOnFocus=false}}
				</code>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-5  col-md-3">
				{{ui-select-input options=animals searchField="name,synonyms"}}
			</div>
			<div class="col-xs-7 col-md-9">
				Select w/ search on synonyms: try 'ape','king'<br/>
				<code>
	\{{ui-select-input options=animals searchField="synonyms"}}
				</code>
			</div>
		</div>
	</div>

	<h4>Select Groups</h4>
	<div id="ui-number-array-input" class="container">
		<div class="row">
			<div class="col-xs-5  col-md-3">
				{{ui-select-input options=groupedChoices optgroups=optGroup optgroupField="group"}}
			</div>
			<div class="col-xs-7 col-md-9">
				Grouped Selection<br/>
				<code>
					\{{ui-select-input options=groupedChoices optgroups=optGroup optgroupField="group"}}
				</code>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-5  col-md-3">
				{{ui-select-input options=groupedChoices optgroups=optGroup optgroupField="group" optgroupOrder="color,animal,body" }}
			</div>
			<div class="col-xs-7 col-md-9">
				Grouped Selection w/ custom sort<br/>
				<code>
					\{{ui-select-input options=groupedChoices optgroups=optGroup optgroupField="group" optgroupOrder="color,animal,body"}}
				</code>
			</div>
		</div>
	</div>

	<h4>Using Plugins</h4>
<pre>
Using plugins is just a matter of including the name in the plugin property. 
By default \{{ui-tags-input}} has <b>remove_button</b> included.
</pre>
	<div id="ui-number-array-input" class="container">
		<div class="row">
			<div class="col-xs-5 col-md-3">
				{{ui-select-input options=groupedChoices optgroups=optGroup optgroupField="group" plugins='remove_button'}}
			</div>
			<div class="col-xs-7 col-md-9">
				Selection with cancel<br/>
				<code>
					\{{ui-select-input options=groupedChoices optgroups=optGroup optgroupField="group" plugins='optgroup_columns'}}
				</code>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-5 col-md-3">
				{{ui-select-input options=groupedChoices optgroups=optGroup optgroupField="group" plugins='optgroup_columns'}}
			</div>
			<div class="col-xs-7 col-md-9">
				Column-base selection: <i>optgroup_columns</i><br/>
				<code>
					\{{ui-select-input options=groupedChoices optgroups=optGroup optgroupField="group" plugins='optgroup_columns'}}
				</code>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-5 col-md-3">
				{{ui-tags-input options=groupedChoices plugins='remove_button,restore_on_backspace' optgroups=optGroup optgroupField="group"}}
			</div>
			<div class="col-xs-7 col-md-9">
				Tags with: <i>remove_button(default), restore_on_backspace</i><br/>
				<code>
					\{{ui-tags-input options=groupedChoices plugins='remove_button,restore_on_backspace'}}
				</code>
			</div>
		</div>
	
	</div>

	<p>&nbsp;</p>
	<p>&nbsp;</p>
	<p>&nbsp;</p>
	<p>&nbsp;</p>
	<p>&nbsp;</p>
	<p>&nbsp;</p>
	
	{{/if}}

</div>