<h3 class='section-heading'>Formatting</h3>

<div class="container">
  <h4>Sizing</h4>
  <div class="row">
    <div class="col-xs-6 col-md-4">
      {{tags-input size='tiny' placeholder='tiny' options=things optgroups=optGroup}}
    </div>
    <div class="col-xs-6 col-md-8">
      <pre><code>\{{tags-input size='tiny' placeholder='tiny'}}</code></pre>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-6 col-md-4">
      {{tags-input size='small' placeholder='small' options=things optgroups=optGroup}}
    </div>
    <div class="col-xs-6 col-md-8">
      <pre><code>\{{tags-input size='small' placeholder='small'}}</code></pre>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-6 col-md-4">
      {{tags-input placeholder='default' options=things optgroups=optGroup}}
    </div>
    <div class="col-xs-6 col-md-8">
      <pre><code>\{{tags-input placeholder='default'}}</code></pre>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-6 col-md-4">
      {{tags-input size='large' placeholder='large' options=things optgroups=optGroup}}
    </div>
    <div class="col-xs-6 col-md-8">
      <pre><code>\{{tags-input size='large' placeholder='large'}}</code></pre>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-6 col-md-4">
      {{tags-input size='huge' placeholder='huge' options=things optgroups=optGroup}}
    </div>
    <div class="col-xs-6 col-md-8">
      <pre><code>\{{tags-input size='huge' placeholder='huge'}}</code></pre>
    </div>
  </div>

  <br>
  <h4>Finger Friendly</h4>
  <p>
    The idea behind "finger friendly" is to add more space for touch based devices in the dropdown menus which tend to be hard to get at for our fat fingers.
  </p>
  <div class="row">
    <div class="col-xs-6 col-md-4">
      {{select-input placeholder='normal' options=things optgroups=optGroup}}

    </div>
    <div class="col-xs-6 col-md-8">
      <pre><code>\{{select-input }}</code></pre>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-6 col-md-4">
      {{select-input placeholder='finger friendly' fingerFriendly=true options=things optgroups=optGroup}}
    </div>
    <div class="col-xs-6 col-md-8">
      <pre><code>\{{select-input fingerFriendly=true }}</code></pre>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-6 col-md-4">
      {{tags-input
        placeholder='finger friendly'
        fingerFriendly=true
        closeAfterSelect=true
        options=things
        optgroups=optGroup
      }}
    </div>
    <div class="col-xs-6 col-md-8">
      <pre><code>\{{tag-input fingerFriendly=true }}</code></pre>
    </div>
  </div>
  <note>
    Note: If you're using {{ui-label 'tags-input'}} on a mobile device consider detecting off-control touch events and force blur of the control. Alternatively, although probably less effective, you could also
  </note>

  <br>
  <h4>Mood</h4>
  <p>
    Moods are color themes that relate to the common Bootstrap naming of 'primary', 'secondary', 'success', 'warning', and 'danger'. You can actually put any string you like and it will add a class {{ui-label 'mood-[name]'}}. For the Bootstrap standard ones there is built-in styling but you can feel free to override or just use a different name.
  </p>

  <div class="row">
    <div class="col-xs-6 col-md-4">
      {{select-input placeholder='info' mood='info' options=things optgroups=optGroup}}
    </div>
    <div class="col-xs-6 col-md-8">
      <pre><code>\{{select-input mood='info'}}</code></pre>
    </div>
  </div>
<div class="row">
  <div class="col-xs-6 col-md-4">
    {{select-input placeholder='success' mood='success' options=things optgroups=optGroup}}
  </div>
  <div class="col-xs-6 col-md-8">
    <pre><code>\{{select-input mood='success'}}</code></pre>
  </div>
</div>


<div class="row">
  <div class="col-xs-6 col-md-4">
    {{select-input placeholder='warning' mood='warning' options=things optgroups=optGroup}}
  </div>
  <div class="col-xs-6 col-md-8">
    <pre><code>\{{select-input mood='warning'}}</code></pre>
  </div>
</div>

<div class="row">
  <div class="col-xs-6 col-md-4">
    {{select-input placeholder='danger' mood='danger' options=things optgroups=optGroup}}
  </div>
  <div class="col-xs-6 col-md-8">
    <span><pre><code>\{{select-input mood='danger'}}, or</code></pre></span>
    <span><pre><code>\{{select-input mood='error'}}</code></pre></span>
  </div>
</div>

<p>
  <note>
    <b>Note:</b> because this addon is using CSS instead of SCSS the container can't set the "primary" and "secondary" color variables as intended. If anyone wants to send in PR this would be a great place to do it.
  </note>
</p>

<div class="row">
  <div class="col-xs-6 col-md-4">
    {{select-input placeholder='primary' mood='primary' options=things optgroups=optGroup}}
  </div>
  <div class="col-xs-6 col-md-8">
    <span><pre><code>\{{select-input mood='primary'}}</code></pre></span>
  </div>
</div>
<div class="row">
  <div class="col-xs-6 col-md-4">
    {{select-input placeholder='secondary' mood='secondary' options=things optgroups=optGroup}}
  </div>
  <div class="col-xs-6 col-md-8">
    <span><pre><code>\{{select-input mood='secondary'}}</code></pre></span>
  </div>
</div>

<br>
<h4>Disable / Read Only</h4>
<p>
  A minor point but the control does respond to as you'd expect to the {{ui-pill 'disable'}} property.
</p>

<div class="row">
  <div class="col-xs-6 col-md-4">
    {{select-input disabled=disabled options=things optgroups=optGroup}}
  </div>
  <div class="col-xs-6 col-md-8 flexy">
    <pre style='display:inline-flex; flex 1 1;'>
      <code>\{{select-input mood='primary'}}</code>
    </pre>
    <span>
      {{ui-toggle-button
          on='disabled'
          off='enabled'
          size='small'
          value=disabled
          onToggle=(mut disabled)
      }}
    </span>
  </div>
</div>

<div class="row">
  <div class="col-xs-6 col-md-4">
    {{select-input readonly=readonly options=things optgroups=optGroup}}
  </div>
  <div class="col-xs-6 col-md-8 flexy">
    <pre style='display:inline-flex; flex 1 1;'>
      <code>\{{select-input readonly=readonly}}</code>
    </pre>
    <span>
      {{ui-toggle-button
          off='writable'
          on='read only'
          size='small'
          value=readonly
          onToggle=(mut readonly)
      }}
    </span>
  </div>
</div>

</div> {{! /container }}
