<h3 class='section-heading'>Groups</h3>
<p class="downer">
  One of common attributes of a grown up select box is the ability to display your items in groups; this is supported here by defining one (optionally two) properties:
  <ul>
    <li>{{ui-pill 'optgroups'}} - should be set as an array of id/name pairs; can be sourced from csv, pojo, or ember-data</li>
    <li>
      {{ui-pill 'optgroupField'}}
      - refers to the attribute on the options array which points to the group its a member of. When left off it will default to 'group' which works for examples below.
    </li>
  </ul>
</p>
<p>
  If you really want to exert full control you can also set the {{ui-pill 'optgroupValueField'}} and {{ui-pill 'optgroupLabelField'}} properties which state which property in the group array to find the value and label.
</p>

  <row>
    <div class='col-xs-6 col-lg-2'>
      {{select-input
        value=selectValue
        placeholder="grouped select"
        options=things
        optgroups=optGroup
        onChange=(mut selectValue)
      }}
    </div>
    <div class="col-xs-6 col-lg-4">
<pre><code class='handlebars'>\{{select-input
  value=selectValue
  placeholder="grouped select"
  options=things
  optgroups=optGroup
  onChange=(mut selectValue)
}}</code></pre>
    </div>
    <div class="col-xs-12 col-lg-6">
      <h4>Select Grouping</h4>
      Does what it says on the tin.
    </div>
  </row>

  <row>
    <div class='col-xs-6 col-lg-2'>
      {{tags-input
        values=tagsValue
        placeholder="grouped tags"
        options=things
        optgroups=optGroup
        onChange=(mut tagsValue)
      }}
    </div>
    <div class="col-xs-6 col-lg-4">
<pre><code class='handlebars'>\{{tags-input
  values=tagsValue
  placeholder="grouped tags"
  options=things
  optgroups=optGroup
  onChange=(mut tagsValue)
}}</code></pre>
    </div>
    <div class="col-xs-12 col-lg-6">
      <h4>Tags Grouping</h4>
      Does what it says on the tin.
    </div>
  </row>
