<h3 class='section-heading'>Loading Data</h3>
<p >
  Options are loaded by providing data to the <code>options</code> property. The data source for this data can be a CSV string, a simple array of strings, an array of POJO's or Ember Data.
</p>

<row class='left'>
  <widget>
    {{ui-select-input options='Frog,Pig,Bad Wolf' class='foobar' value=csvValue}}
  </widget>
  <code>
    {{display-component componentName='ui-select-input' options='Frog,Pig,Bad Wolf' class='foobar' value=csvValue}}
  </code>
  <description>
    <h4>CSV</h4>
    <note>
      <b>Note:</b> the <b>value</b> is calculated by <i>camelizing</i> the name passed in as the title.
    </note>
  </description>
</row>
<row>
  <widget>{{ui-select-input options=pojoArray value=arrayValue}}</widget>
  <code>{{display-component componentName='ui-select-input' options=pojoArray value=arrayValue}}</code>
  <description><h4>POJO Array</h4></description>
</row>
<row>
<widget>{{ui-select-input options=pojoArray value=emberData}}</widget>
<code>{{display-component componentName='ui-select-input' options=pojoArray value=emberData}}</code>
  <description><h4>Ember Data</h4></description>
</row>
