<h3 class='section-heading'>Option Rendering</h3>
<p>
  Rather than just a simple text string for the options choosen, or the options available you can render your own layouts (using the block format of this component) or use a few built-in defaults.
</p>

<h4>Built-In Renderers</h4>
<p>
  Currently there are two built in renderers that can get you a nicer look and feel right out of the gate. While we think they're "neat" in most cases you'll probably just want to jump down to the bespoke rendering as it's pretty darn easy to have it your way. Anyway, here they are:
</p>

<ul>
  <li>name-email</li>
  <li>name-icon</li>
</ul>

<div class="row">
  <div class="col-xs-12 col-md-4">
    {{select-input
      options=model
      searchField='name,email'
      renderTemplate='name-email'
      optgroups=optGroup
    }}
    <p>
      <br>
    </p>
    {{tags-input
      options=model
      renderTemplate='name-avatar'
      optgroups=optGroup
    }}

  </div>
  <div class="col-xs-6 col-md-4 ">
<pre><code>\{{select-input
  options=model
  searchField='name,email'
  renderTemplate='name-email'
  optgroups=optGroup
}}</code></pre>
  </div>  <div class="col-xs-6 col-md-4">
<pre><code>\{{tags-input
  options=model
  renderTemplate='name-avatar'
  optgroups=optGroup
}}</code></pre>
    </div>
</div>

<br>
<h4>Bespoke Rendering &amp; Block Format</h4>
<p>
  The world is your oyster, especially now that Ember has give us <i>contextual components</i> which really open up creativity to do almost anything with the options menu.
</p>

<div class="row downer">
  <div class="col-xs-6 col-md-4">
    {{#select-input
      options=model
      searchField='name,email'
      renderTemplate='name-email'
      optgroups=optGroup
      as |s|
    }}
      {{s.option '> [[item.name]]'}}
      {{#s.item}}
        <span class='option-avatar'>
          <span>
            <img src="[[item.object.avatar]]" class='.option-icon' style='height: 2.0rem; width: 2.0rem; border-radius: 50%;'>
          </span>
          <span style='width: 0.5rem'></span>
          <span>
            [[item.name]]
          </span>
        </span>
      {{/s.item}}
      {{#s.group}}
        <b>
          {{ui-icon 'bars'}}
          [[item.group]]
        </b>
      {{/s.group}}
    {{/select-input}}
  </div>
</div>
<div class="row">
  <div class="col-xs-6 col-md-7 ">
<pre><code class='handlebars'>\{{#select-input
  options=model
  searchField='name,email'
  renderTemplate='name-email'
  optgroups=optGroup
  as |s|
}}
  \{{s.option '> [[item.name]]'}}
  \{{#s.item}}
    &lt;span class='option-avatar'>
      &lt;span&gt;
        &lt;img src="[[item.object.avatar]]"&gt;
      &lt;/span&gt;
      &lt;span&gt;
        [[item.name]]
      &lt;/span>
    &lt;/span>
  \{{/s.item}}
  \{{#s.group}}
    &lt;b&gt;
      \{{ui-icon 'bars'}}
      [[item.group]]
    &lt;/b&gt;
  \{{/s.group}}
\{{/select-input}}</code></pre>
  </div>
  <div class="col-xs-12 col-md-5">
    describe
  </div>
</div>
