<h3 class='section-heading'>Plugins</h3>
<p class="downer">Using plugins is just a matter of including the name in the <code>plugin</code> property.
</p>

<div class="container">
  <row>
    <div class='col-xs-12 col-lg-3'>
      {{select-input
        options=things
        optgroups=optGroup
        plugins='optgroup_columns'
        value=selectValue
        onChange=(mut selectValue)
      }}
      <br>
      <p>
        container value: {{selectValue}}
      </p>
      <p>
        <hr>
      </p>
<pre><code class='handlebars'>\{{select-input
  options=things
  optgroups=optGroup
  plugins='optgroup_columns'
}}
  </code></pre>
    </div>
    <div class="col-xs-12 col-lg-9">
      <h4>Select Plugins</h4>
      <p>
        Select plugins don't come with any plugins <i>plugged in</i> by default but there is one pretty cool plugin we can add: <b>optgroup_columns</b>.
      </p>
    </div>
  </row>

  <row>
    <div class='col-xs-12 col-lg-3'>
      {{tags-input
        options=things
        optgroups=optGroup
        plugins='remove_button,restore_on_backspace'
        values=tagsValue
        onChange=(mut tagsValue)
      }}
      <br>
      <p>
        container value: {{selectValue}}
      </p>
      <p>
        <hr>
      </p>
<pre><code class='handlebars'>\{{tags-input
  options=things
  optgroups=optGroup
  plugins='remove_button,restore_on_backspace'
  optgroupField="group"
}}</code></pre>
    </div>
    <div class="col-xs-12 col-lg-9">
      <h4>Tags Plugins</h4>
      <p>
        Tags start with the plugin <b>remove_button</b> loaded. This provides the dismal buttons next to each tag and it typically a desired feature.
      </p>
    </div>
  </row>


</div>
