<h3 class='section-heading'>Shorthands</h3>
<p class="downer">
  The selectize control is implemented mostly as part of the <prop>ui-selectize</prop> component
  but there are two major types of control that can be generated. For semantic clarity and also to ease the speed of use we have broken out two sub-classes which make this distinction clearer.
</p>
<p>
  We refer to these here as <i>shorthands</i>; the shorthands are:
  <ul>
    <li><prop>tags-input</prop> - like the default control, it assumes you're specifying 1 or more "tags"</li>
    <li>
      <prop>select-input</prop> - this control constrains the user to choose only 1 thing at a time
    </li>
  </ul>
</p>
<div id="ui-number-array-input" class="container">
  <div class="row">
    <div class="col-xs-5  col-md-4">
      {{tags-input options='Frog,Piglett,Angry Wolf' value=tagsValue}}
    </div>
    <div class="col-xs-7 col-md-8">
      <code>
        \{{tags-input options='Frog,Piglett,Angry Wolf'}}<br/>
      </code>
      tags-input:  {{tagsValue}}
    </div>
  </div>
  <div class="row">
    <div class="col-xs-5  col-md-4">
    {{select-input options='Frog,Piglett,Angry Wolf' value=selectValue}}
    </div>
    <div class="col-xs-7 col-md-8">
      <code>
        \{{select-input options='Frog,Piglett,Angry Wolf'}}<br/>
      </code>
      value:  {{selectValue}}
    </div>
  </div>
</div>
<p class="downer">
  Let's quickly cover the small variances that you should experience above:
  <ul>
    <li>
      tags-input
      <ul>
        <li>Selected buttons have a "cancel" button (an example of a plugin ... more later)</li>
        <li>After selecting an item it is removed as an option to choose again</li>
      </ul>
    </li>
    <li>
      select-input
      <ul>
        <li>Input restricted to only 1 item max</li>
        <li>Selectize control automatically adds graphic flurish to make it clear this control is a select control</li>
        <li>Note: the value returned is a scalar and not an array (with a single element in it)</li>
      </ul>
    </li>
  </ul>
</p>

<p>
  Note: prior versions of this addon called these two components "ui-tags-input" and "ui-select-input" but we've shortened them (laziness is a virtue). The old naming convension is still availalbe but they are now deprecated.
</p>
