<h3 class='section-heading'>Value Binding</h3>
<row>
  <div class='col-xs-6 col-lg-2'>
    {{tags-input
      values=tagValue
      placeholder="tag me"
      options='foo,bar,baz'
      onChange=(mut tagValue)
    }}
  </div>
  <div class="col-xs-6 col-lg-4">
<pre><code class='handlebars'>\{{tags-input
  values=tagValue
  placeholder="tag me"
  options='foo,bar,baz'
  onChange=(mut tagValue)
}}
</code></pre>
  </div>
  <div class="col-xs-12 col-lg-6">
    <h4>DDAU</h4>
    This addon is built for an Ember 2.x environment and supports both the {{ui-pill 'action'}} and {{ui-pill 'mut'}} helpers to provide a safe and relatively compact DDAU experience.
  </div>
</row>

<row>
  <div class='col-xs-6 col-lg-2'>
    {{tags-input
      values=tagValue
      placeholder="one is never enough"
      options='foo,bar,baz'
      onChange=(mut tagValue)
    }}
    <p>
      container value: {{tagValue}}
    </p>
    <br>
    {{select-input
      value=selectValue
      placeholder="one at a time"
      options='foo,bar,baz'
      onChange=(mut selectValue)
    }}
    <p>
      container value: {{selectValue}}
    </p>
  </div>
  <div class="col-xs-6 col-lg-4">
<pre><code class='handlebars'>\{{tags-input
  values=tagValue
  placeholder="one is never enough"
  options='foo,bar,baz'
  onChange=(mut tagValue2)
}}

\{{select-input
  value=selectValue
  placeholder="one at a time"
  options='foo,bar,baz'
  onChange=(mut selectValue)
}}
</code></pre>
  </div>
  <div class="col-xs-12 col-lg-6">
    <h4>Cardinality</h4>
    Semantically it makes sense to bind a property named {{ui-label 'value'}} for a <i>select</i>-input (which can only take on at most one value) versus the plural {{ui-label 'values'}} which is more intuitive for a tag-input.
  </div>
</row>
<p>
  <note>
    With both components you <i>can</i> attach to either the single or the plural but semantically it makes less sense. The key though is that when sending data down on the plural api-surface you must send an array, otherwise a scalar.
  </note>
</p>
